{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="row font-weight-bold mb-2">
        <div class="col-9">Product Information</div>
        <div class="col-2">Subtotal</div>
        <div class="col-1"></div> <!-- spacer -->
    </div>
    <hr>
    {% for product_code, quantity in bag.items %}
    {% with product=product_code|product_by_code %}
    <div class="row align-items-center mb-3">
        <div class="col-3">
            {% if product.image %}
            <img class="product-img-small" src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
            <img class="product-img-small" src="{{ product.image_url }}" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-6">
            {{ product.name }} x{{ quantity }}
            <br>
            <strong>Price: </strong>£{{ product.price }}
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
            <span class="mr-4">
                £{{ product.price|multiply:quantity|floatformat:2 }}
            </span>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
            <form method="POST" action="{% url 'remove_from_bag' product.code %}" class="mb-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger" title="Remove item">X</button>
            </form>
        </div>
    </div>
    <hr>
    {% endwith %}
    {% empty %}
    <div>Your cart is empty.</div>
    {% endfor %}
    <div class="row w-100">
        <div class="col-8"></div> <!-- spacer -->
        {% if grand_total %}
        <div class="col-2"><strong>Grand Total: </strong></div>
        <div class="col-2 text-end"> <!-- price column -->
            £{{ grand_total|floatformat:2 }}
        </div>
        {% endif %}
    </div>

    <!-- Buttons Row -->
    <div class="row w-100 mt-3">
        <div class="col-lg-8 d-lg-flex d-none"></div> <!-- spacer -->
        <div class="col-lg-4 col-12 text-end">
            <a href="{% url 'products' %}" class="btn btn-def"><i class="fa-solid fa-store"></i> Keep Shopping</a>
            <a href="#" class="btn btn-def"><i class="fa-solid fa-lock"></i> Checkout</a>
        </div>
    </div>

{% endblock %}