{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row bg-white justify-content-center">

    <div class="col-md-8">
        <h4 class="mt-2">Frequently Asked Questions</h4>
        <hr>
        <div class="row text-left">
            <p><strong>Q. How do I take care of the products?</strong></p>
            <p>A. All plushies are machine washable at 30 degrees. Colours may run or fade when washing. Not suitable for children under 3yo due to smaller parts.</p>
        </div>
        <hr>
        <div class="row text-left">
            <p><strong>Q. What is the refund / return policy?</strong></p>
            <p>A. </p>
        </div>
        <hr>
        <div class="row text-left">
            <p><strong>Q. Who are your delivery providers?</strong></p>
            <p>A. </p>
        </div>
        <hr>
        <div class="row text-left">
            <p><strong>Q. Are my personal details safe?</strong></p>
            <p>A. </p>
        </div>

    </div>
</div>

{% endblock %}