{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<h1>Thank you for your order!</h1>
<p>Order Number: <strong>{{ order.order_number }}</strong></p>
<p>Order placed on: {{ order.created_at|date:"M, j, g:ia" }}</p>
<table class="table">
    <tbody>
        {% for item in order_items %}
        <tr>
            <td>
                {% if item.product.image %}
                <img class="product-img-small" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="product-img-small" src="{{ item.product.image_url }}" alt="{{ product.name }}">
                {% endif %}
            </td>
            <td>{{ item.product.name }}</td>
            <td class="text-center">
                <span class="product-info mr-4">
                    <p><strong>Price: </strong>£{{ item.product.price }}</p>
                    <p><strong>Quantity: </strong> x{{ item.quantity }}</p>
                    <p><strong>Subtotal: </strong>£{{ item.product.price|multiply:item.quantity|floatformat:2 }}</p>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<p><strong>Total Paid: £{{ order.total_price }}</strong></p>

<h3>Delivery Information</h3>
<div class="delivery-info-container">
  <table class="delivery-info-table">
      <tbody>
          <tr>
              <th>Full Name</th>
              <td>{{ order.full_name }}</td>
          </tr>
          <tr>
              <th>Address Line 1</th>
              <td>{{ order.street_address1 }}</td>
          </tr>
          {% if order.street_address2 %}
          <tr>
              <th>Address Line 2</th>
              <td>{{ order.street_address2 }}</td>
          </tr>
          {% endif %}
          <tr>
              <th>Town/City</th>
              <td>{{ order.town_or_city }}</td>
          </tr>
          {% if order.county %}
          <tr>
              <th>County</th>
              <td>{{ order.county }}</td>
          </tr>
          {% endif %}
          <tr>
              <th>Postcode</th>
              <td>{{ order.postcode }}</td>
          </tr>
          <tr>
              <th>Country</th>
              <td>{{ order.country }}</td>
          </tr>
      </tbody>
  </table>
</div>

<p>We will email <strong>{{ order.email }}.</strong> with the confirmation details shortly.</p>
{% endblock %}