{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<h1>Order summary:</h1>
<p>Order Number: {{ order.order_number }}</p>
<p>Order placed on: {{ order.created_at|date:"M, j, g:ia" }}</p>
<table class="table">
    <tbody>
        {% for item in item_list %}
        <tr>
            <td>
                {% if item.product.image %}
                <img class="product-img-small" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="product-img-small" src="{{ item.product.image_url }}" alt="{{ product.name }}">
                {% endif %}
            </td>
            <td>{{ item.product.name }}</td>
            <td class="text-center">
                <span class="product-info mr-4">
                    <strong>Price: </strong>£{{ item.product.price }}
                    <strong>Quantity: </strong> x{{ quantity }}
                    <strong>Subtotal: </strong>£{{ item.product.price|multiply:item.quantity|floatformat:2 }}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Total Paid: £{{ order.total_price }}</strong></p>

{% endblock %}