<div class="row">
    <div class="col text-center">
        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
    </div>
    <div class="col text-center">
        <a class="nav-link" href="https://www.instagram.com/thecosynarwhal" target="_blank">
            <i class="fa-brands fa-square-instagram fa-2x"></i>
        </a>
    </div>
    <div class="col text-center">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </div>
</div>

<div class="row mt-2">
    <div class="col text-center">
        &copy; Emma Miles 2025
    </div>
</div>
