{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <h1 class="logo-font">{{ product.name }}</h1>

    <div class="row bg-white mt-4">
        <div class="col-12 col-md-6 mb-4">
            <img id="product-img" class="product-img img-fluid mt-4" src="{{ MEDIA_URL }}{{ product.image }}">
        </div>
        <div class="col-12 col-md-6 text-left mt-4">
            {% if product.inventory == 0 %}
            <p><strong>Sorry this product is currently out of stock</strong></p>
            {% endif %}
            <p>{{ product.description|safe }}</p>
            <div class="row d-flex align-items-center">
                <div class="col-6">
                    <i class="star fa-solid fa-star"></i> {{ product.rating }}
                </div>
                <div class="col-6 text-right">
                    Price: £{{ product.price }}
                </div>
            </div>
            <div class="row justify-content-center">
                {% if size_links %}
                <label for="size-select">Choose a size: </label>
                <select id="size-select" class="form-select mb-3 ml-3"
                    onchange="location.href=this.options[this.selectedIndex].dataset.url;">
                    <option value="{{ product.size }}">{{ product.get_size_display }}</option>
                    {% for size_id, size_label, variant_id in size_links %}
                    <option value="{{ size_id }}" data-url="{% url 'product_detail' variant_id %}">
                        {{ size_label }}
                    </option>
                    {% endfor %}
                </select>
                {% endif %}
                {% if product.has_colors %}
                <label for="color-select">Choose a color: </label>
                <select id="color-select" name="color" class="form-select rounded mb-3 ml-3">
                    {% for color_name, link_id in color_links %}
                    <option value="{{ link_id }}" {% if product.id == link_id %}selected{% endif %}>
                        {{ color_name|replace:"_, "|title }}
                    </option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="align-items-center">
                    <form class="mt-4" method="POST" action="{% url 'add_to_bag' product.code %}">
                        {% csrf_token %}
                        <input type="{% if product.inventory == 0 %}hidden{% else %}number{% endif %}" name="quantity" value="1" min="1">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button class="btn btn-def" type="submit" {% if product.inventory == 0 %}disabled{% endif %}>{% if product.inventory == 0 %}Out of Stock{% else %}Add to Cart{% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.getElementById('color-select')?.addEventListener('change', function () {
        const selectedProductId = this.value;
        if (selectedProductId) {
            window.location.href = `/product/${selectedProductId}/`;
        }
    });
</script>
{% endblock %}